<html>
    <head>
        <title>Steam App API</title>
        <link rel="stylesheet" href="/steamapp.css">
    </head>
    <body>
      <h1>About Steam Companion App</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/games">Games</a>
        <a href="/about">About</a>
      </nav>
      <div class="about-container">
        <h2 id="aboutSite">About the Steam Companion App</h2>
        <p id="aboutSiteInfo">The Steam Companion App is a site in which users can input their Steam ID, as well as a personalized
          Steam API Key. Users can use this site to check the hours played on a game, and look at their top played games. 
        </p>
        <p id="aboutSiteInfo">If you would like a link to the Steam API's full 
          documentation, here it is: <a href="https://steamapi.xpaw.me/#">Steam API Full Documentation</a>
        </p>
    </div>
    </body>
    <script src="steamapp.js"></script>
</html>